In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
world_earthquakes = pd.read_csv('../data/world_earthquakes.csv')

In [3]:
world_earthquakes.head()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,NaN,NaN,NaN,NaN,NaN
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,NaN,NaN,140.0,NaN,NaN
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,NaN,NaN,NaN,NaN,NaN
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,NaN,NaN,4.0,NaN,NaN

In [ ]:
world_earthquakes.tail()

## Remove the footnotes from the column "Other Source Deaths"

In [ ]:
world_earthquakes.columns.unique()

In [ ]:
world_earthquakes['others_sources_deaths'].unique()

In [ ]:
world_earthquakes['em_dat_total_deaths'].unique()

In [ ]:
def remove_footnotes (df, column):
    re.split(r"{[\d]}", df[column])

In [ ]:
remove_footnotes(world_earthquakes,'others_sources_deaths')