In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
world_earthquakes = pd.read_csv('../data/world_earthquakes.csv')

In [3]:
world_earthquakes.head()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,NaN,NaN,NaN,NaN,NaN
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,NaN,NaN,140.0,NaN,NaN
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,NaN,NaN,NaN,NaN,NaN
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,NaN,NaN,4.0,NaN,NaN

In [4]:
world_earthquakes.tail()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
1335,2011-03-24 20:25,Burma (see 2011 Burma earthquake),NaN,NaN,NaN,6.8 Mw,NaN,NaN,NaN,NaN,NaN,150+
1336,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.2,140.0,66.0,7.1 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1337,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9 Mw,L,NaN,NaN,NaN,NaN,111+
1338,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.6,43.5,7.2,7.1 Mw,NaN,NaN,NaN,NaN,NaN,"601 (as of October 30, 2011)"
1339,2018-08-05 19:46,Indonesia (see Lombok earthquake),NaN,NaN,31.0,6.9 Mw,NaN,NaN,NaN,NaN,NaN,NaN

## 1/ Change NaN for 0 in integer columns "others_source_deaths", "em_dat_total_deaths", "utsu_total_deaths", "pde_total_deaths", "pde_shaking_deaths":

I wanted to put 0 instead of keeping it blank. \
NB: it's usually blank because the information is missing, however since we will take the biggest number from all columns for the "deaths" new column and only few never report the number of death, it should be okay.

In [5]:
world_earthquakes['others_source_deaths'] = world_earthquakes['others_source_deaths'].fillna(0)

In [6]:
world_earthquakes['em_dat_total_deaths'] = world_earthquakes['em_dat_total_deaths'].fillna(0)

In [7]:
world_earthquakes['utsu_total_deaths'] = world_earthquakes['utsu_total_deaths'].fillna(0)

In [8]:
world_earthquakes['pde_total_deaths'] = world_earthquakes['pde_total_deaths'].fillna(0)

In [9]:
world_earthquakes['pde_shaking_deaths'] = world_earthquakes['pde_shaking_deaths'].fillna(0)
world_earthquakes.head()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,0.0,0.0,0.0,0,0
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,0.0,0.0,140.0,0,0
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,0.0,0.0,0.0,0,0
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,0.0,0.0,0.0,0,0
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,0.0,0.0,4.0,0,0

## 2/ Change columns "pde_shaking_deaths", "pde_total_deaths", "utsu_total_deaths" into integer:

In [10]:
world_earthquakes['pde_shaking_deaths'] = world_earthquakes['pde_shaking_deaths'].astype(int)

In [11]:
world_earthquakes['pde_total_deaths'] = world_earthquakes['pde_total_deaths'].astype(int)

In [12]:
world_earthquakes['utsu_total_deaths'] = world_earthquakes['utsu_total_deaths'].astype(int)

In [13]:
world_earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
date                    1340 non-null object
country                 1340 non-null object
latitude                1325 non-null object
longitude               1325 non-null object
depth                   1250 non-null object
magnitude               1339 non-null object
secondary_effects       373 non-null object
pde_shaking_deaths      1340 non-null int64
pde_total_deaths        1340 non-null int64
utsu_total_deaths       1340 non-null int64
em_dat_total_deaths     1340 non-null object
others_source_deaths    1340 non-null object
dtypes: int64(3), object(9)
memory usage: 125.7+ KB

In [14]:
world_earthquakes['pde_shaking_deaths'].unique()

array([     0,   2000,     25,      2,     15,     13,     53,     24,
         3000,     12,    136,     14,      1,      3,   1086,    176,
           81,     65,    100,   1000,     83,      5,      7,   5054,
            4,     11,   5000,     17,     26,    600,     10,     27,
           78,   5300,     47,   2311,  23000,     49,      8,    900,
            6,    422,    563, 655237,      9,    133,    167,     30,
          348,     70,    584,     21,     22,     50,  15000,     76,
          200,     18,    156,     37,     41,    280,     52,     60,
          188,    300,    305,    150,     16,   1500,    220,     43,
         2800,    450,    104,   1342,     34,    443,     20,    177,
           23,     71,   9500,     29,    950,    998,    730,  25000,
           62,    126,    135,  45000,   1621,     19,     75,    114,
          498,     36,     61,    552,   9748,    295,    159,   5502,
           42,   1989,    101,     84,    322,    108,   1100,   1572,
           38,   2323,    105,   4000,    145,   1185,  17118,    143,
         2297,    894,     46,    103,    267,  20023,    315,     48,
           44,    261,   2266,  31000,    631,     40,     32,    612,
         1303,  87351,   5749,     67,    514,  69195])

## 3/ Change columns "latitude", "longitude" and "depth" in float:

In [15]:
world_earthquakes[world_earthquakes['latitude'] == '?']

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
413,1963-06-26 04:17,Macedonia (see 1963 Skopje earthquake),?,??,?,6.1 Mw,NaN,0,1100,0,0,0

First problem = need to get rid of "?"

### Latitude column:

In [16]:
# I found the info online for this specific event so I added the latitude
world_earthquakes["latitude"] = world_earthquakes["latitude"].replace("?", 42.100)

In [17]:
world_earthquakes['latitude'] = world_earthquakes['latitude'].astype(float)

### Longitude column:

In [18]:
# I found the info online for this specific event so I added the longitude
world_earthquakes["longitude"] = world_earthquakes["longitude"].replace("??", 21.400)

In [19]:
world_earthquakes['longitude'] = world_earthquakes['longitude'].astype(float)

### Depth column:

In [20]:
# I found the info online for this specific event so I added the depth of 6 km
world_earthquakes['depth'] = world_earthquakes["depth"].replace("?", 6.0)

In [21]:
world_earthquakes['depth'] = world_earthquakes['depth'].astype(float)

In [22]:
world_earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
date                    1340 non-null object
country                 1340 non-null object
latitude                1325 non-null float64
longitude               1325 non-null float64
depth                   1250 non-null float64
magnitude               1339 non-null object
secondary_effects       373 non-null object
pde_shaking_deaths      1340 non-null int64
pde_total_deaths        1340 non-null int64
utsu_total_deaths       1340 non-null int64
em_dat_total_deaths     1340 non-null object
others_source_deaths    1340 non-null object
dtypes: float64(3), int64(3), object(6)
memory usage: 125.7+ KB

## 4/ Remove the footnote from the column "em_dat_total_deaths"

In [23]:
world_earthquakes.columns.unique()

Index(['date', 'country', 'latitude', 'longitude', 'depth', 'magnitude',
       'secondary_effects', 'pde_shaking_deaths', 'pde_total_deaths',
       'utsu_total_deaths', 'em_dat_total_deaths', 'others_source_deaths'],
      dtype='object')

### NB: What I'm targeting is '10[7]|' and I want to get '10' instead, this is the only thing to change in this column:

In [24]:
world_earthquakes['em_dat_total_deaths'].unique()

array([0, '2000', '20000', '2500', '400', '12000', '75000', '923', '20',
       '29980', '1800', '10000', '100', '116', '180000', '1000', '5000',
       '143000', '2925', '200000', '107', '3300', '500', '0', '36', '256',
       '6', '3008', '6000', '3410', '60000', '9', '149', '30000', '32962',
       '249', '980', '200', '3000', '213', '1083', '2824', '3959', '998',
       '1961', '4000', '165', '73', '1400', '233', '27', '5131', '110000',
       '8', '437', '1500', '30', '14', '1200', '455', '7', '13', '1250',
       '39', '53', '160', '28', '191', '57', '131', '4', '25', '23', '38',
       '128', '10[7]|', '80', '2394', '120', '61', '54', '183', '240',
       '177', '19', '47', '11', '271', '29', '15', '41', '24', '150',
       '1086', '66794', '176', '65', '878', '85', '5057', '17', '78',
       '2385', '1', '23000', '50', '2', '10', '922', '420', '573',
       '242000', '16', '3840', '1641', '167', '352', '3', '185', '589',
       '21', '25000', '45', '5', '121', '34', '26', '350', '60', '300',
       '32', '69', '2633', '4689', '22', '250', '1507', '12', '102',
       '1346', '275', '180', '67', '9500', '1100', '125', '709', '274',
       '62', '126', '40000', '2412', '270', '653', '179', '552', '239',
       '9748', '207', '171', '81', '5297', '40', '1989', '94', '84', '46',
       '309', '166', '18', '1568', '43', '49', '2323', '95', '4700',
       '1186', '70', '17127', '143', '2264', '31', '845', '103', '844',
       '20005', '315', '145', '42', '227', '268', '2266', '26796', '37',
       '628', '35', '33', '612', '915', '73338', '63', '519', '87476'],
      dtype=object)

What needs to be removed is [7]| from '10[7]|'

In [25]:
test = '345[7]|'

In [26]:
print(re.split(r"\[\d+]\|", test)[0]) # The item we want is the first element of the list

345

When you run split(), the result will always be a list. So you will have to select the item from that returned list using index.

### You can use apply() with a lambda function to make it work

In [27]:
world_earthquakes['em_dat_total_deaths'] = world_earthquakes['em_dat_total_deaths'].apply(lambda x: (re.split(r"\[\d+]\|", str(x)))[0])
world_earthquakes[world_earthquakes['country'] == 'Uzbekistan (see 1966 Tashkent earthquake)']

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
439,1966-04-25 23:22,Uzbekistan (see 1966 Tashkent earthquake),NaN,NaN,NaN,5 ML,NaN,0,0,0,10,0

### NB: that work but it's not applicable for huge database...

In [28]:
#world_earthquakes["em_dat_total_deaths"] = world_earthquakes["em_dat_total_deaths"].replace("10[7]|", 10)

## 5/ Remove footnotes from the column "others_source_deaths":

In [30]:
world_earthquakes['others_source_deaths'].unique()

array([0, '3500', '8000+', '46', '164[6]', '1500[6]', '105000', '1404',
       '1', '120', '200', '380', '2041', '33[8]', '45000[9]', '2489[10]',
       '26271[11] 26000[12]', '68', '231000*[13] 283000*[14] 227898*[15]',
       '41', '60[16]', '215', '34', '295', '79', '189', '1115',
       '222,517[17]', '521[19]', '42', '2698', '185', '15894[20]', '150+',
       '111+', '601 (as of October 30, 2011)'], dtype=object)

### Using regex to remove the footnotes:

In [31]:
test2 = '231000*[13] 283000*[14] 227898*[15]' #'8000+' '231000*[13]', '1500[6]', '601 (as of October 30, 2011)'

In [41]:
print(re.split(r"[+*([]", test2)[0])

231000

In [33]:
def split_formatting(sstr):
    # Apply the split on the string. The result will be a string
    slist = re.split(r"[*+([]", str(sstr)) # [10,]
    # The element we want to grab is the first element of that list
    return slist[0]

In [34]:
# Now, we can simply use this function using apply() on the dataset
world_earthquakes['others_source_deaths'] = world_earthquakes['others_source_deaths'].apply(split_formatting)

In [35]:
world_earthquakes['others_source_deaths'].unique()

array(['0', '3500', '8000', '46', '164', '1500', '105000', '1404', '1',
       '120', '200', '380', '2041', '33', '45000', '2489', '26271', '68',
       '231000', '41', '60', '215', '34', '295', '79', '189', '1115',
       '222,517', '521', '42', '2698', '185', '15894', '150', '111',
       '601 '], dtype=object)

### NB: the regex function worked however I didn't specified for the rows with several numbers where I wanted to take only the biggest number so I will use remplace() since it's only 2 rows in the whole column:

In [36]:
# to get the biggest number: np.max() (note for myself if I want to make the function more efficient in the future)

In [37]:
# use the function replace() for the two rows that needs adjustment
world_earthquakes["others_source_deaths"] = world_earthquakes["others_source_deaths"].replace("231000", 283000).replace("222,517", 517)

In [38]:
world_earthquakes['others_source_deaths'].unique()

array(['0', '3500', '8000', '46', '164', '1500', '105000', '1404', '1',
       '120', '200', '380', '2041', '33', '45000', '2489', '26271', '68',
       283000, '41', '60', '215', '34', '295', '79', '189', '1115', 517,
       '521', '42', '2698', '185', '15894', '150', '111', '601 '],
      dtype=object)

## 6/ New df with Armelle's cleaning:

In [39]:
world_earthquakes.head()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
0,1900-05-11 17:23,Japan,38.7,141.1,5.0,7.0 MJMA,NaN,0,0,0,0,0
1,1900-07-12 06:25,Turkey,40.3,43.1,NaN,5.9 Muk,NaN,0,0,140,0,0
2,1900-10-29 09:11,Venezuela,11.0,-66.0,0.0,7.7 Mw,NaN,0,0,0,0,0
3,1901-02-15 00:00,China,26.0,100.1,0.0,6.5 Ms,NaN,0,0,0,0,0
4,1901-03-31 07:11,Bulgaria,43.4,28.7,NaN,6.4 Muk,NaN,0,0,4,0,0

In [40]:
world_earthquakes.tail()

,date,country,latitude,longitude,depth,magnitude,secondary_effects,pde_shaking_deaths,pde_total_deaths,utsu_total_deaths,em_dat_total_deaths,others_source_deaths
1335,2011-03-24 20:25,Burma (see 2011 Burma earthquake),NaN,NaN,NaN,6.8 Mw,NaN,0,0,0,0,150
1336,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.200,140.000,66.0,7.1 Mw,NaN,0,0,0,0,0
1337,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9 Mw,L,0,0,0,0,111
1338,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.600,43.500,7.2,7.1 Mw,NaN,0,0,0,0,601
1339,2018-08-05 19:46,Indonesia (see Lombok earthquake),NaN,NaN,31.0,6.9 Mw,NaN,0,0,0,0,0

In [42]:
world_earthquakes.to_csv('../data/world_earthquakes_01_clean.csv', index = False)